{% extends "base.html" %}

{% block head_content %}

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8); /* fairly opaque white background */
        display: flex;
        flex-direction: column; /* Added to make text and spinner stack vertically */
        justify-content: center;
        align-items: center;
        z-index: 9999; /* ensure it's above other content */
    }
      
    .loading-spinner {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin-bottom: 20px; /* Added margin to separate text and spinner */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

{% endblock head_content %}

{% block new_body_content %}

<!-- Loading animation -->
<div id="loading-module" class="loading-overlay">
    <h1>Loading Game...</h1>
    <br>
    <div class="loading-spinner"></div>
</div>

<div id="grid"></div> <!-- The grid on screen which will be modified to show the game map -->

<!-- Script to perform loading and redirect to the game -->
<script src="{{url_for('static', filename='js/phaser.js')}}"></script>
<script src="{{url_for('static', filename='js/generate_static.js')}}"></script>
<script>
    // Load the map
    load_map("{{cell_val_sets}}", quadSize=25, fps=60)
    .then((map) => {
        fetch( // Send it to the server to be saved
            "{{url_for('generate_static', username=username)}}", 
            {
                "method": "POST", 
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({
                    "map": map, 
                    "game_id": "{{game_id}}"
                })
            }
        )
        .then((reponse) => {
            // Redirect to the game url after a few seconds
            setTimeout(() => {
                location.href = "{{url_for('game', username=username, game_id=game_id)}}"
            }, 2000);
        })
        .catch((err) => {console.error(err);});
    })
</script>

{% endblock new_body_content %}

